<!-- BLOCO SOBRE -->
<div class="col-8 mx-auto p-4">
    <h6><i class="bi bi-info-circle"></i> Desafio técnico para a vaga de Desenvolvedor Front Jr. Pela Pricefy</h6>
    <br>
    <i class="bi bi-hourglass-split"></i> Tempo de desenvolvimento: <strong>19 horas</strong><br>
    <i class="bi bi-github"></i> Git do projeto: <a href="https://github.com/fabiopsy" target="_blank"
        class="text-dark"><strong>aqui</strong></a>
    <br>
    <hr>
    <p class="mb-5">
        Neste desafio desenvolvido em <strong>Angular/TypeScript</strong>, foram utilizados vários recursos e conceitos
        que o
        Angular oferece, como <strong>Modularização, Reactive Forms, Roteamento, DataBinding, Interpolação, Pipes, etc.</strong>
        <br>
        <br>
        Foi desenvolvido um formulário de Promoções com os métodos do <strong>CRUD armazenando os dados em LocalStorage</strong>.
        <br>
        <br>
        Os requisitos funcionais e técnicos podem ser encontrados <a
            href="https://github.com/pricefyteam/pricefy-frontend-test/blob/main/WHAT.md" target="_blank"
            class="text-dark">no repositório oficial do desafio</a>.
    </p>
    <div class="text-center">
        <a routerLink="">
            <img src="/assets/img/logo.png" alt="" width="100">
        </a>
        <p>Fábio Alves <br>
            <a href="https://fabiojr.com" target="_blank" class="text-dark">fabiojr.com</a>
        </p>
    </div>

</div>